.title .itemlabel {
  color: var(--color11);
}

.list {
  list-style: none;
}

.item {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.arrow {
  font-weight: bold;
  color: var(--color13);
}

.icon {
  width: 1em;
  height: 1em;
  color: var(--color11);
}